<a href="https://colab.research.google.com/github/Yucheng1121/Introduction-to-Computers/blob/main/Untitledl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. 奇數.偶數判斷

In [ ]:
n = int(input(""))
if n >= 0 and n%2 == 0:
  print(n, "is even")
elif n >= 0 and n%2 != 0:
  print(n, "is odd")
else:
  print("Input Error")

65
65 is odd

In [ ]:
2. 季節判斷

In [ ]:
month = int(input(""))
if 1 <= month <= 3:
  season = "spring"
elif 4 <= month <= 6:
  season = "summer"
elif 7 <= month <= 9:
  season = "autumn"
elif 10 <= month <= 12:
  season = "winter"
else:
  season = "Input Error"

if season != "Input Error":
  print(month, "is", season)
else:
  print("Input Error")

請輸入月份(1-12):-2
Input Error

In [ ]:
3. 計程車費用問題

In [ ]:
distance = int(input(""))
if distance < 0:
  print("Input Error")
elif distance == 0:
  print("0 yuan")
elif distance <= 5:
  print("240 yuan")
else:
  total_price = 240 + (distance - 5) * 40
  print(total_price, "yuan")

請輸入公里數：5
240 yuan

In [ ]:
4. 銀行複利問題

In [ ]:
p = 100000
i = 0.03
years = int(input(""))
if years < 0:
	print("Input Error")
else:
	result = p * (1 + i) ** years
	print(result)

5
115927.40743

In [ ]:
5. 找出3個數的最小值

In [ ]:
n = input("")
n_list = n.split()

n_list = [int(num) for num in n_list]

min = n_list[0]

if n_list[1] < min:
    min = n_list[1]
if n_list[2] < min:
    min = n_list[2]

print(min)

6 -8 7
-8

In [ ]:
6. 找出3個數的最大值

In [ ]:
n = input("")
n_list = n.split()

n_list = [float(num) for num in n_list]

max = n_list[0]

if n_list[1] > max:
    max = n_list[1]
if n_list[2] > max:
    max = n_list[2]
if max < 0:
    max = -max

print(max)

5.24 -83.2 8.01
8.01

In [ ]:
7. 列出所有因數

In [ ]:
n = int(input(""))

factors = []
for i in range(1, n+1):
    if n % i == 0:
        factors.append(i)

for factor in factors:
    print(factor, end=" ")

45
1 3 5 9 15 45

In [ ]:
8. 計算3或7的倍數總和

In [ ]:
n = int(input(""))

sum = 0
for i in range(1, n+1):
    if i % 3 == 0 or i % 7 == 0:
        sum += i

print(sum)

20
84

In [ ]:
9. 用＊印出靠左下的直角三角形

In [ ]:
n = int(input(""))

for i in range(1, n+1):
    print('*' * i)

12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [ ]:
10. 用連續數字印出靠左下的直角三角形

In [ ]:
n = int(input(""))

for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end='')
  print()

12
1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112

In [ ]:
11. 求兩數的最大公因數

In [ ]:
a,b = map(int, input("").split())

def gcd(a,b):
  while b != 0:
    a,b = b, a % b
  return a

GCD = gcd(a,b)
print(f"{GCD}")

60 20
20

In [ ]:
12. 求兩數的最大公倍數

In [ ]:
a,b = map(int, input("").split())

def gcd(a,b):
  while b != 0:
    a,b = b, a % b
  return a

GCD = (a * b) // gcd(a,b)
print(f"{GCD}")

20 50
100

In [ ]:
13. 大小寫變變樂

In [ ]:
n = input("")
output = ''
for i in range(len(n)):
  if i % 2 == 0:
    output += n[i].upper()
  else:
    output += n[i].lower()
print(output)

sdcf
SdCf

In [ ]:
14. 判斷是否構成三角形

In [ ]:
a, b, c = map(int, input("").split())

if (a + b > c) and (a + c > b) and (b + c > a):
    print("Valid")
else:
    print("Invalid")

2 5 7
Invalid

In [ ]:
15. 將字串(list)每一項倒序印出來

In [ ]:
n = input("").split()
倒序 = n[::-1]
output = ' '.join(倒序)
print(output)

30 52 41
41 52 30

In [ ]:
16. 製作密碼遮罩器

In [ ]:
密碼 = input("")
密碼長度 = len(密碼)
遮密碼 = "*" * 密碼長度

print(遮密碼, end = "\n")
print("total:" + str(密碼長度))

254 569
*******
total:7

In [ ]:
17. 時間秒數轉換

In [ ]:
total_seconds = int(input(""))

hours = total_seconds // 3600 
minutes = (total_seconds % 3600) // 60  
seconds = total_seconds % 60 

Hours = "{:02d}".format(hours)
Minutes = "{:02d}".format(minutes)
Seconds = "{:02d}".format(seconds)

Time = f"{Hours}:{Minutes}:{Seconds}"
print(Time)

3845
01:04:05

In [ ]:
18. 判斷平年、閏年

In [ ]:
year = int(input(""))
閏年 = False

if year % 4 == 0:
  if year % 100 != 0 or year % 400 == 0:
    閏年 = True

if 閏年:
  print(f"{year} is leap year")
else:
  print(f"{year} is common year")

2000
2000 is leap year

In [ ]:
19. 印出乘法表 (錯的)

In [ ]:
n = int(input(""))
for i in range(n, 10):
  for j in range(1, 10):
    乘法 = i * j
    print("%d * %d = %d" % (i, j, 乘法), end=" ")
  print()

7
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [ ]:
20. 偶數加總

In [ ]:
n = int(input(""))
偶數加總 = 0

for i in range(15, n + 1):
  if i % 2 == 0:
    偶數加總 += i
print(偶數加總)

22
76

In [ ]:
建立互不相同的數字排列

In [ ]:
for i in range(1, 5):
  for j in range(1, 5):
    for k in range(1, 5):
      if i != j and j != k and i != k:
        print(i, j, k)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [ ]:
BMI計算 (錯了)

In [ ]:
height,weight = map(float,input(" ").split())

bmi = weight / (height/100) ** 2
BMI = "{:.2f}".format(bmi)

print(BMI)

 176 75
24.21

In [ ]:
重複列印文字

In [ ]:
n = int(input(""))

result = [1, 2, 3] * 3

print(result)

123
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
將文字順序顛倒印出 (錯了)

In [ ]:
n= input("").split()

for item in reversed(n):
    print(item)

apple 125 456
456
125
apple

In [ ]:
求解1到100的總和

In [ ]:
total = 0

for i in range(1, 101):
  total += i

print(total)

5050